<h1> Video Footage </h1>

<br/>
<br/>
<br/>
<br/>

<h1> Enter data about the officer here: </h1>

<br/>
<br/>
<br/>
<br/>

<h1> Seat Belt Data </h1>

<br/>
<br/>
<br/>
<br/>

<h1> Was I on my phone?  </h1>

<br/>
<br/>
<br/>
<br/>

<h1> Auto Face Blurring  </h1>


<br/>
<br/>
<br/>
<br/>

<h1> Upload video to social media using our bot.  </h1>

